name: Lint

on: [push]

jobs:
  eslint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: npm install, build, and lint
        run: |
          npm install
          npm run-script lint
